html,body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Nunito', sans-serif;
}

body {
    background-color: #939b62;
}

h1,h2,h3,h5,h6 {
    font-family: 'Montserrat', sans-serif;
    color: black;
}

section {
    margin-bottom: 2rem;
    /* border: 1px solid black; */
}

.nav-section{
    padding-top: 2%;
    margin-bottom: 0rem;
}

.nav-section a h5{
    color: #fdffab;
}

.about-me{
    padding: 7% 15%;
    margin-bottom: 27vh;
}



.intro-section {
    padding: 18% 22%;
}

.about-section{
    height: 65%;
    font-size: large;
}

i {
    color:cadetblue
}

a {
    color: black;
}

a:hover {
    color: #9dab86;
}

ul {
    list-style: none;
}

.img-dev{
    width: 200px;
    height: 250px;
    /* border-radius: 1%; */
}

.experience div div h4,h4 a {
    color: #fdffab;
}

.experience div div h4 a:hover {
    color:#fdffab;
}

.name-highlight {
    font-family: 'Shadows Into Light', cursive;
    color: #fdffab;
}

.designation-higlight{
    font-family: 'Comfortaa', cursive;
}

@media screen and (max-width:482px) {
    .intro-section{
        padding: 18% 10%;
    }
    .about-me{
        margin-bottom: 1vh;
    }
}


